h4 {
    color: purple;
}

h2 {
    color: #b2deec;
}
h3 {
    color: #c56183;
}
p.italic {
    font-style: italic ;
}

#page-wrap {
    width: 500px;
    margin: 0 auto;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}